In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

Bdata = pd.read_csv("Data/Batting.csv")
Pdata = pd.read_csv("Data/Pitching.csv")
# Pdata.head()
# Bdata.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

## Batting: 2000-2005

In [10]:
Bdf=Bdata[ 
  (1999 < Bdata['yearID'])  & (Bdata['yearID'] < 2006)]
Bdf

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
79266,abbotje01,2000,1,CHA,AL,80,215,31,59,15,...,29.0,2.0,1.0,21,38.0,1.0,2.0,2.0,1.0,2.0
79267,abbotku01,2000,1,NYN,NL,79,157,22,34,7,...,12.0,1.0,1.0,14,51.0,2.0,1.0,0.0,1.0,2.0
79268,abbotpa01,2000,1,SEA,AL,35,5,1,2,1,...,0.0,0.0,0.0,0,1.0,0.0,0.0,1.0,0.0,0.0
79269,abreubo01,2000,1,PHI,NL,154,576,103,182,42,...,79.0,28.0,8.0,100,116.0,9.0,1.0,0.0,3.0,12.0
79270,aceveju01,2000,1,MIL,NL,62,1,1,0,0,...,0.0,0.0,0.0,1,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87326,zambrca01,2005,1,CHN,NL,34,80,8,24,6,...,6.0,0.0,0.0,0,25.0,0.0,0.0,4.0,0.0,2.0
87327,zambrvi01,2005,1,NYN,NL,31,53,2,7,0,...,2.0,0.0,0.0,0,22.0,0.0,0.0,5.0,0.0,0.0
87328,zaungr01,2005,1,TOR,AL,133,434,61,109,18,...,61.0,2.0,3.0,73,70.0,2.0,0.0,0.0,5.0,11.0
87329,zimmery01,2005,1,WAS,NL,20,58,6,23,10,...,6.0,0.0,0.0,3,12.0,0.0,0.0,0.0,1.0,1.0
87330,zitoba01,2005,1,OAK,AL,35,7,0,1,0,...,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0

In [11]:
#number of teams played between 2000-2005
team=Bdf["teamID"].nunique()
team

32

In [18]:
#Finding average of hit, run and strikeouts for each team between year of 2000-2005

Hit= Bdf.groupby("teamID").H.mean()
Run= Bdf.groupby("teamID").R.mean()
Homerun= Bdf.groupby("teamID").HR.mean()
Strikeouts= Bdf.groupby("teamID").SO.mean()

B_Analysis = pd.DataFrame({"Hit":(Hit),
                        "Run":(Run),
                         "Homerun":(Homerun),
                        "Strikeouts":(Strikeouts)
                        })
B_Analysis= B_Analysis.sort_values("Hit",ascending=False)
B_Analysis["Hit"] = B_Analysis["Hit"].astype(float).map("{:,.2f}".format)
B_Analysis["Run"] = B_Analysis["Run"].astype(float).map("{:,.2f}".format)
B_Analysis["Homerun"] = B_Analysis["Homerun"].astype(float).map("{:,.2f}".format)
B_Analysis["Strikeouts"] = B_Analysis["Strikeouts"].astype(float).map("{:,.2f}".format)
B_Analysis

          Hit    Run Homerun Strikeouts
teamID
LAA     38.00  19.02    3.67      21.20
ANA     37.75  19.50    4.21      22.60
CHA     37.36  21.04    5.48      24.51
SEA     37.18  19.76    3.77      24.89
MIN     36.79  18.52    3.77      25.12
SLN     36.32  20.18    4.78      25.11
OAK     36.08  20.26    4.75      24.35
ATL     35.66  18.90    4.46      25.01
TOR     35.32  18.94    4.30      25.02
SFN     34.88  18.74    4.53      22.98
HOU     34.69  19.04    4.58      25.30
FLO     34.27  17.09    3.55      24.80
PHI     34.22  18.12    4.02      26.41
NYA     33.29  19.09    4.86      22.72
BOS     32.69  18.20    4.17      21.77
LAN     32.52  16.56    4.05      24.15
ARI     32.41  16.57    3.83      22.92
CHN     32.09  16.59    4.38      24.62
PIT     31.97  15.80    3.44      24.26
DET     31.85  15.62    3.52      22.97
BAL     31.81  16.05    3.58      20.27
MIL     31.59  15.90    3.92      28.38
COL     31.47  17.21    3.64      21.60
MON     30.85  15.30    3.36      22.54
TBA     30.83  15.10    3.03      22.05
TEX     30.68  17.11    4.58      21.11
KCA     30.19  15.49    2.96      19.02
CIN     30.09  15.91    4.01      25.68
CLE     29.96  16.33    3.89      20.85
NYN     29.43  14.80    3.49      22.66
SDN     27.81  14.07    2.76      21.01
WAS     24.85  11.62    2.13      19.82

In [19]:
#replacing NaN values with "0" for graphing analysis
Fill_0 = B_Analysis.fillna(0)
Fill_0

          Hit    Run Homerun Strikeouts
teamID
LAA     38.00  19.02    3.67      21.20
ANA     37.75  19.50    4.21      22.60
CHA     37.36  21.04    5.48      24.51
SEA     37.18  19.76    3.77      24.89
MIN     36.79  18.52    3.77      25.12
SLN     36.32  20.18    4.78      25.11
OAK     36.08  20.26    4.75      24.35
ATL     35.66  18.90    4.46      25.01
TOR     35.32  18.94    4.30      25.02
SFN     34.88  18.74    4.53      22.98
HOU     34.69  19.04    4.58      25.30
FLO     34.27  17.09    3.55      24.80
PHI     34.22  18.12    4.02      26.41
NYA     33.29  19.09    4.86      22.72
BOS     32.69  18.20    4.17      21.77
LAN     32.52  16.56    4.05      24.15
ARI     32.41  16.57    3.83      22.92
CHN     32.09  16.59    4.38      24.62
PIT     31.97  15.80    3.44      24.26
DET     31.85  15.62    3.52      22.97
BAL     31.81  16.05    3.58      20.27
MIL     31.59  15.90    3.92      28.38
COL     31.47  17.21    3.64      21.60
MON     30.85  15.30    3.36      22.54
TBA     30.83  15.10    3.03      22.05
TEX     30.68  17.11    4.58      21.11
KCA     30.19  15.49    2.96      19.02
CIN     30.09  15.91    4.01      25.68
CLE     29.96  16.33    3.89      20.85
NYN     29.43  14.80    3.49      22.66
SDN     27.81  14.07    2.76      21.01
WAS     24.85  11.62    2.13      19.82

In [20]:
#top values for each column
Fill_0.describe()

          Hit    Run Homerun Strikeouts
count      32     32      32         32
unique     32     32      30         32
top     38.00  18.94    4.58      24.62
freq        1      1       2          1

## Pitching: 2000-2005

In [23]:
Pdf=Pdata[ 
  (1999 < Pdata['yearID'])  & (Pdata['yearID'] < 2006)]
Pdf

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
32904,abbotpa01,2000,1,SEA,AL,9,7,35,27,0,...,4.0,3,5.0,0,766.0,2,89,1.0,4.0,20.0
32905,aceveju01,2000,1,MIL,NL,3,7,62,0,0,...,9.0,3,1.0,2,347.0,18,38,1.0,1.0,7.0
32906,adamste01,2000,1,LAN,NL,6,9,66,0,0,...,0.0,5,0.0,0,369.0,18,42,3.0,0.0,9.0
32907,aguilri01,2000,1,CHN,NL,1,2,54,0,0,...,2.0,1,4.0,0,210.0,44,28,1.0,0.0,3.0
32908,aldresc01,2000,1,PHI,NL,1,3,23,0,0,...,0.0,1,1.0,0,95.0,5,14,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36897,yanes01,2005,1,LAA,AL,1,1,49,0,0,...,4.0,5,0.0,0,293.0,21,36,3.0,4.0,3.0
36898,youngch03,2005,1,TEX,AL,12,7,31,31,0,...,2.0,3,7.0,0,700.0,0,84,2.0,4.0,6.0
36899,zambrca01,2005,1,CHN,NL,14,6,33,33,2,...,3.0,7,8.0,0,909.0,0,88,9.0,5.0,18.0
36900,zambrvi01,2005,1,NYN,NL,7,12,31,27,0,...,2.0,8,15.0,2,748.0,2,85,6.0,6.0,17.0
36901,zitoba01,2005,1,OAK,AL,14,13,35,35,0,...,0.0,4,13.0,0,953.0,0,106,8.0,7.0,20.0

In [24]:
#number of teams played between 2000-2005
Pteam=Pdf["teamID"].nunique()
Pteam

32

In [25]:
#Finding average of hit, run, strikeouts, Win and Losses for each team between year of 2000-2005

Hit= Pdf.groupby("teamID").H.mean()
Run= Pdf.groupby("teamID").R.mean()
Homerun= Pdf.groupby("teamID").HR.mean()
Strikeouts= Pdf.groupby("teamID").SO.mean()
win= Pdf.groupby("teamID").W.mean()
losses= Pdf.groupby("teamID").L.mean()

P_Analysis = pd.DataFrame({"Hit":(Hit),
                        "Run":(Run),
                         "Homerun":(Homerun),
                        "Strikeouts":(Strikeouts),
                          "Win":(win),
                           "Losses":(losses)
                        })
P_Analysis= P_Analysis.sort_values("Hit",ascending=False)
P_Analysis["Hit"] = P_Analysis["Hit"].astype(float).map("{:,.2f}".format)
P_Analysis["Run"] = P_Analysis["Run"].astype(float).map("{:,.2f}".format)
P_Analysis["Homerun"] = P_Analysis["Homerun"].astype(float).map("{:,.2f}".format)
P_Analysis["Strikeouts"] = P_Analysis["Strikeouts"].astype(float).map("{:,.2f}".format)
P_Analysis["Win"] = P_Analysis["Win"].astype(float).map("{:,.2f}".format)
P_Analysis["Losses"] = P_Analysis["Losses"].astype(float).map("{:,.2f}".format)
P_Analysis

          Hit    Run Homerun Strikeouts   Win Losses
teamID
MIN     82.63  40.85   10.10      55.62  4.66   4.16
LAA     78.83  35.72    8.78      62.56  5.28   3.72
OAK     77.31  38.12    8.29      57.14  5.24   3.67
SEA     75.70  38.54    9.54      53.94  4.69   3.99
ANA     75.53  38.75    9.64      51.42  4.43   4.01
CHA     73.36  39.18    9.48      50.95  4.47   3.77
SFN     71.63  35.83    7.23      51.65  4.61   3.55
BAL     71.39  39.09    8.98      47.60  3.36   4.28
TOR     70.32  36.97    8.30      45.10  3.62   3.79
DET     69.57  37.69    8.07      38.95  2.84   4.30
PIT     69.21  37.13    7.61      45.43  3.23   4.29
LAN     66.81  33.70    8.30      56.20  4.20   3.76
NYA     66.67  34.11    7.29      49.65  4.38   2.90
CHN     66.60  35.69    8.55      63.11  3.84   4.00
CIN     66.31  35.96    8.69      41.26  3.17   3.72
PHI     65.96  34.71    8.29      50.95  3.81   3.72
KCA     65.90  37.14    8.52      37.40  2.77   3.94
ATL     65.74  31.04    6.88      48.29  4.43   3.09
TBA     65.58  37.96    8.65      40.71  2.78   4.19
ARI     65.10  34.43    8.30      55.32  3.69   3.67
HOU     64.95  33.27    8.30      53.76  3.92   3.45
MIL     64.47  34.89    8.19      46.39  3.01   4.07
COL     64.24  36.34    8.50      39.01  2.95   3.61
MON     64.13  33.48    7.76      44.97  3.15   3.78
FLO     63.18  32.56    6.48      48.88  3.61   3.53
SLN     62.73  31.05    7.89      45.75  4.26   2.94
NYN     61.16  30.62    6.94      45.41  3.36   3.56
TEX     60.96  34.46    7.39      36.83  2.88   3.27
BOS     60.61  31.73    6.58      47.34  3.83   2.96
WAS     58.24  26.92    5.60      39.88  3.24   3.24
CLE     54.75  29.15    6.13      40.47  3.04   2.92
SDN     53.66  28.51    6.82      39.82  2.75   3.14