In [1]:
# Dependencies
import pandas as pd

# Find best batting Team

In [2]:
# Store filepath in a variable
batting_data = "Resources/Batting.csv"
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
batting_data = pd.read_csv(batting_data, encoding="ISO-8859-1")
batting_data.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [3]:
#filter data by year
batting_df = batting_data [(2009 < batting_data["yearID"]) & (batting_data["yearID"] < 2016)]
batting_df.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
92866,aardsda01,2010,1,SEA,AL,53,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
92867,abadfe01,2010,1,HOU,NL,22,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
92868,abreubo01,2010,1,LAA,AL,154,573,88,146,41,...,78.0,24.0,10.0,87,132.0,3.0,2.0,0.0,5.0,13.0
92869,abreuto01,2010,1,ARI,NL,81,193,16,45,11,...,13.0,2.0,1.0,4,47.0,0.0,0.0,0.0,4.0,8.0
92870,accarje01,2010,1,TOR,AL,5,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
#count amount of teams from 2010 - 2015
team = batting_df["teamID"].nunique()
team

31

In [5]:
#Change the name of columns needed
bat_team_df = batting_df[["teamID", "H", "R", "HR", "SO"]]
bat_renamed_df = bat_team_df.rename(columns={"teamID":"Team", "H": "Hits", "R":"Runs", "HR":"Home Runs", "SO":"Strike Outs"})
bat_renamed_df.head()

      Team  Hits  Runs  Home Runs  Strike Outs
92866  SEA     0     0          0          0.0
92867  HOU     0     0          0          1.0
92868  LAA   146    88         20        132.0
92869  ARI    45    16          1         47.0
92870  TOR     0     0          0          0.0

In [13]:
#Find the mean of hits, runs homeruns & strike outs
batting_group = bat_renamed_df.groupby("Team")
batting_group.head()
batting = batting_group.mean()
batting

           Hits       Runs  Home Runs  Strike Outs
Team
ARI   28.843537  14.278912   3.125850    26.064626
ATL   29.882353  14.386029   3.180147    27.753676
BAL   29.254296  14.419244   4.048110    24.852234
BOS   28.801282  14.942308   3.336538    23.198718
CHA   32.670543  15.635659   3.802326    26.798450
CHN   27.634812  13.163823   3.187713    26.955631
CIN   32.418605  15.996124   3.860465    29.015504
CLE   29.413428  14.487633   3.081272    25.332155
COL   30.855172  15.382759   3.562069    25.710345
DET   34.528090  16.876404   3.617978    25.726592
FLO   27.336634  13.306931   2.980198    25.930693
HOU   27.865052  13.069204   3.079585    27.415225
KCA   33.266667  15.203704   2.692593    22.033333
LAA   29.673611  14.868056   3.444444    23.979167
LAN   28.003333  13.273333   2.706667    23.590000
MIA   27.850515  12.268041   2.443299    25.922680
MIL   31.804511  15.759398   3.838346    27.135338
MIN   31.233333  15.281481   3.003704    26.322222
NYA   27.666667  14.957516   3.826797    22.954248
NYN   28.172414  13.637931   2.782759    25.406897
OAK   28.384083  14.570934   3.100346    24.024221
PHI   29.537102  14.219081   3.081272    24.618375
PIT   27.935154  13.177474   2.935154    26.501706
SDN   27.484211  13.024561   2.621053    26.915789
SEA   28.638686  13.145985   3.215328    27.897810
SFN   31.866171  14.776952   2.828996    25.278810
SLN   32.513011  16.029740   3.115242    24.933086
TBA   31.492248  16.131783   3.705426    28.732558
TEX   29.983278  15.277592   3.448161    21.675585
TOR   27.032154  14.598071   3.971061    22.585209
WAS   31.697318  15.536398   3.781609    29.532567

In [14]:
# Sort the DataFrame by the values in the "Runs" column to find the most
bat_runs = batting.sort_values("Runs", ascending=False)
bat_runs

           Hits       Runs  Home Runs  Strike Outs
Team
DET   34.528090  16.876404   3.617978    25.726592
TBA   31.492248  16.131783   3.705426    28.732558
SLN   32.513011  16.029740   3.115242    24.933086
CIN   32.418605  15.996124   3.860465    29.015504
MIL   31.804511  15.759398   3.838346    27.135338
CHA   32.670543  15.635659   3.802326    26.798450
WAS   31.697318  15.536398   3.781609    29.532567
COL   30.855172  15.382759   3.562069    25.710345
MIN   31.233333  15.281481   3.003704    26.322222
TEX   29.983278  15.277592   3.448161    21.675585
KCA   33.266667  15.203704   2.692593    22.033333
NYA   27.666667  14.957516   3.826797    22.954248
BOS   28.801282  14.942308   3.336538    23.198718
LAA   29.673611  14.868056   3.444444    23.979167
SFN   31.866171  14.776952   2.828996    25.278810
TOR   27.032154  14.598071   3.971061    22.585209
OAK   28.384083  14.570934   3.100346    24.024221
CLE   29.413428  14.487633   3.081272    25.332155
BAL   29.254296  14.419244   4.048110    24.852234
ATL   29.882353  14.386029   3.180147    27.753676
ARI   28.843537  14.278912   3.125850    26.064626
PHI   29.537102  14.219081   3.081272    24.618375
NYN   28.172414  13.637931   2.782759    25.406897
FLO   27.336634  13.306931   2.980198    25.930693
LAN   28.003333  13.273333   2.706667    23.590000
PIT   27.935154  13.177474   2.935154    26.501706
CHN   27.634812  13.163823   3.187713    26.955631
SEA   28.638686  13.145985   3.215328    27.897810
HOU   27.865052  13.069204   3.079585    27.415225
SDN   27.484211  13.024561   2.621053    26.915789
MIA   27.850515  12.268041   2.443299    25.922680

# Find Best Pitching Team

In [8]:
# Store filepath in a variable
pitching_data = "Resources/Pitching.csv"
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
pitching_data = pd.read_csv(pitching_data, encoding="ISO-8859-1")
pitching_data.head()

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN

In [9]:
#filter data by year
pitching_df = pitching_data [(2009 < pitching_data["yearID"]) & (pitching_data["yearID"] < 2016)]
pitching_df.head()

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
39749,aardsda01,2010,1,SEA,AL,0,6,53,0,0,...,5.0,2,2.0,0,202.0,43,19,7.0,1.0,5.0
39750,abadfe01,2010,1,HOU,NL,0,1,22,0,0,...,0.0,0,0.0,0,76.0,6,6,0.0,1.0,0.0
39751,accarje01,2010,1,TOR,AL,0,1,5,0,0,...,0.0,2,1.0,0,34.0,2,6,0.0,0.0,2.0
39752,aceveal01,2010,1,NYA,AL,3,0,10,0,0,...,1.0,0,1.0,0,53.0,2,5,0.0,0.0,0.0
39753,acostma01,2010,1,NYN,NL,3,2,41,0,0,...,1.0,3,0.0,0,157.0,12,13,1.0,1.0,4.0

In [16]:
#Change the name of columns needed
pitch_team_df = pitching_df[["teamID", "W", "L", "H", "R", "HR", "SO"]]
pitch_renamed_df = pitch_team_df.rename(columns={"teamID":"Team", "W": "Wins", "L": "Losses", "H": "Hits", "R":"Runs", "HR":"Home Runs", "SO":"Strike Outs"})
pitch_renamed_df.head()

      Team  Wins  Losses  Hits  Runs  Home Runs  Strike Outs
39749  SEA     0       6    33    19          5           49
39750  HOU     0       1    14     6          3           12
39751  TOR     0       1    12     6          0            3
39752  NYA     3       0    10     5          1            2
39753  NYN     3       2    30    13          4           42

In [17]:
#Find the mean of hits, runs homeruns & strike outs
pitching_group = pitch_renamed_df.groupby("Team")
pitching_group.head()
pitching = pitching_group.mean()
pitching

          Wins    Losses       Hits       Runs  Home Runs  Strike Outs
Team
ARI   3.072848  3.364238  57.788079  28.715232   6.860927    46.615894
ATL   3.659574  3.234043  57.624113  26.517730   5.773050    53.092199
BAL   3.402778  3.347222  60.381944  30.173611   7.687500    47.250000
BOS   3.187097  3.083871  55.012903  28.458065   6.361290    47.232258
CHA   3.290780  3.602837  61.234043  30.269504   6.758865    52.304965
CHN   2.734568  3.265432  50.944444  26.456790   5.555556    46.580247
CIN   3.708955  3.544776  61.089552  29.462687   7.500000    54.686567
CLE   3.275862  3.420690  58.572414  29.737931   6.324138    50.434483
COL   2.708861  3.443038  58.006329  30.398734   6.360759    42.696203
DET   3.568493  3.082192  58.869863  29.150685   6.095890    49.732877
FLO   2.867925  3.245283  53.509434  26.773585   5.339623    45.018868
HOU   2.592105  3.802632  57.177632  29.657895   6.440789    46.526316
KCA   3.428571  3.514286  61.914286  30.135714   6.714286    48.771429
LAA   3.510204  3.102041  56.367347  27.727891   6.360544    48.353741
LAN   3.437908  2.908497  51.392157  24.150327   5.241830    51.477124
MIA   2.762376  3.653465  56.227723  26.950495   5.039604    45.861386
MIL   3.478261  3.565217  61.681159  30.840580   7.297101    54.695652
MIN   3.157143  3.785714  66.271429  32.657143   7.085714    42.807143
NYA   3.351852  2.648148  52.055556  25.006173   6.407407    47.327160
NYN   3.195946  3.371622  57.033784  27.148649   6.000000    49.466216
OAK   3.479167  3.270833  56.006944  26.701389   6.375000    48.416667
PHI   3.238411  3.198675  56.701987  27.112583   6.245033    49.496689
PIT   3.253333  3.226667  56.460000  27.040000   5.406667    47.173333
SDN   3.222222  3.527778  55.993056  27.152778   6.041667    51.993056
SEA   3.335878  4.083969  63.106870  30.977099   7.328244    54.381679
SFN   4.262295  3.704918  64.991803  30.672131   6.598361    61.606557
SLN   3.880282  2.964789  58.725352  26.091549   5.359155    50.802817
TBA   4.141732  3.519685  61.133858  29.551181   7.464567    61.551181
TEX   3.201220  2.731707  51.213415  25.689024   6.067073    43.658537
TOR   2.810345  2.775862  48.752874  25.201149   6.045977    40.339080
WAS   3.820896  3.425373  61.582090  28.320896   6.014925    54.537313

In [18]:
# Sort the DataFrame by the values in the "Wins" column to find the most
most_wins = pitching.sort_values("Wins", ascending=False)
most_wins

          Wins    Losses       Hits       Runs  Home Runs  Strike Outs
Team
SFN   4.262295  3.704918  64.991803  30.672131   6.598361    61.606557
TBA   4.141732  3.519685  61.133858  29.551181   7.464567    61.551181
SLN   3.880282  2.964789  58.725352  26.091549   5.359155    50.802817
WAS   3.820896  3.425373  61.582090  28.320896   6.014925    54.537313
CIN   3.708955  3.544776  61.089552  29.462687   7.500000    54.686567
ATL   3.659574  3.234043  57.624113  26.517730   5.773050    53.092199
DET   3.568493  3.082192  58.869863  29.150685   6.095890    49.732877
LAA   3.510204  3.102041  56.367347  27.727891   6.360544    48.353741
OAK   3.479167  3.270833  56.006944  26.701389   6.375000    48.416667
MIL   3.478261  3.565217  61.681159  30.840580   7.297101    54.695652
LAN   3.437908  2.908497  51.392157  24.150327   5.241830    51.477124
KCA   3.428571  3.514286  61.914286  30.135714   6.714286    48.771429
BAL   3.402778  3.347222  60.381944  30.173611   7.687500    47.250000
NYA   3.351852  2.648148  52.055556  25.006173   6.407407    47.327160
SEA   3.335878  4.083969  63.106870  30.977099   7.328244    54.381679
CHA   3.290780  3.602837  61.234043  30.269504   6.758865    52.304965
CLE   3.275862  3.420690  58.572414  29.737931   6.324138    50.434483
PIT   3.253333  3.226667  56.460000  27.040000   5.406667    47.173333
PHI   3.238411  3.198675  56.701987  27.112583   6.245033    49.496689
SDN   3.222222  3.527778  55.993056  27.152778   6.041667    51.993056
TEX   3.201220  2.731707  51.213415  25.689024   6.067073    43.658537
NYN   3.195946  3.371622  57.033784  27.148649   6.000000    49.466216
BOS   3.187097  3.083871  55.012903  28.458065   6.361290    47.232258
MIN   3.157143  3.785714  66.271429  32.657143   7.085714    42.807143
ARI   3.072848  3.364238  57.788079  28.715232   6.860927    46.615894
FLO   2.867925  3.245283  53.509434  26.773585   5.339623    45.018868
TOR   2.810345  2.775862  48.752874  25.201149   6.045977    40.339080
MIA   2.762376  3.653465  56.227723  26.950495   5.039604    45.861386
CHN   2.734568  3.265432  50.944444  26.456790   5.555556    46.580247
COL   2.708861  3.443038  58.006329  30.398734   6.360759    42.696203
HOU   2.592105  3.802632  57.177632  29.657895   6.440789    46.526316