In [1]:
#### BATTING

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import os
path=os.path.join("projectdata/batting.csv")
print(path)

projectdata/batting.csv

In [2]:
data_b = pd.read_csv("projectdata/batting.csv")
data_b.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [3]:
new_data = data_b[(1980 < data_b['yearID']) & (data_b['yearID'] < 1985)]
new_data

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
58329,aasedo01,1981,1,CAL,AL,39,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58330,abbotgl01,1981,1,SEA,AL,22,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58331,adamsgl01,1981,1,MIN,AL,72,220,13,46,10,...,24.0,0.0,1.0,20,26.0,4.0,0.0,0.0,2.0,10.0
58332,agostju01,1981,1,CHA,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58333,aguaylu01,1981,1,PHI,NL,45,84,11,18,4,...,7.0,1.0,0.0,6,15.0,0.0,2.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62250,yountro01,1984,1,ML4,AL,160,624,105,186,27,...,80.0,14.0,4.0,67,67.0,7.0,1.0,1.0,9.0,22.0
62251,zachrpa01,1984,1,LAN,NL,58,6,0,2,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0
62252,zahnge01,1984,1,CAL,AL,28,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
62253,zaskeje01,1984,1,PIT,NL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
62254,zuvelpa01,1984,1,ATL,NL,11,25,2,5,1,...,1.0,0.0,0.0,2,3.0,0.0,0.0,0.0,0.0,0.0

In [4]:
total_teams=new_data['teamID'].nunique()
total_teams

26

In [5]:
#finding batting average
#find mean of hit, run, homerun and strikeouts by groupby
#mean_bat_df = new_data.loc[new_data['yearID']== " ", columns]
new_data[["playerID",
           "yearID",
           "teamID",
           "R",
           "H",
           "SO",
           "HR"]]

        playerID  yearID teamID    R    H    SO  HR
58329   aasedo01    1981    CAL    0    0   0.0   0
58330  abbotgl01    1981    SEA    0    0   0.0   0
58331  adamsgl01    1981    MIN   13   46  26.0   2
58332  agostju01    1981    CHA    0    0   0.0   0
58333  aguaylu01    1981    PHI   11   18  15.0   1
...          ...     ...    ...  ...  ...   ...  ..
62250  yountro01    1984    ML4  105  186  67.0  16
62251  zachrpa01    1984    LAN    0    2   1.0   0
62252   zahnge01    1984    CAL    0    0   0.0   0
62253  zaskeje01    1984    PIT    0    0   0.0   0
62254  zuvelpa01    1984    ATL    2    5   3.0   0

[3926 rows x 7 columns]

In [7]:
average_hit=new_data.groupby("teamID").H.mean()
#average_hit
average_run = new_data.groupby("teamID").R.mean()
#average_run
average_homerun = new_data.groupby("teamID").HR.mean()
average_strikeouts = new_data.groupby("teamID").SO.mean()

final_averages = pd.DataFrame({"Hit" : (average_hit) ,
                            "Run" :(average_run),
                            "Strikeouts" :(average_strikeouts)})
final_averages

              Hit        Run  Strikeouts
teamID
ATL     32.636943  16.000000   20.076433
BAL     36.809859  18.894366   20.661972
BOS     44.170543  21.751938   22.139535
CAL     35.280000  18.053333   20.626667
CHA     34.894737  18.032895   20.756579
CHN     32.232704  15.779874   20.849057
CIN     34.465278  15.687500   23.291667
CLE     35.765101  17.308725   16.845638
DET     37.210884  18.870748   20.945578
HOU     35.881944  15.965278   21.000000
KCA     37.547297  17.229730   18.452703
LAN     33.409091  15.422078   20.181818
MIN     34.748344  16.006623   19.344371
ML4     40.304348  20.210145   18.210145
MON     30.686391  14.260355   16.739645
NYA     32.341317  15.916168   15.041916
NYN     31.284810  13.822785   23.037975
OAK     30.841463  15.823171   20.353659
PHI     33.750000  16.480769   20.852564
PIT     34.367742  15.516129   19.806452
SDN     36.159722  16.638889   21.069444
SEA     32.012579  14.572327   19.308176
SFN     33.927632  16.243421   22.552632
SLN     34.701987  16.423841   20.549669
TEX     34.919463  15.684564   18.255034
TOR     38.731884  18.297101   21.239130

In [ ]:
#replace nan values  with 0

In [10]:
new_data.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
58329,aasedo01,1981,1,CAL,AL,39,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58330,abbotgl01,1981,1,SEA,AL,22,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58331,adamsgl01,1981,1,MIN,AL,72,220,13,46,10,...,24.0,0.0,1.0,20,26.0,4.0,0.0,0.0,2.0,10.0
58332,agostju01,1981,1,CHA,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58333,aguaylu01,1981,1,PHI,NL,45,84,11,18,4,...,7.0,1.0,0.0,6,15.0,0.0,2.0,2.0,0.0,0.0

# Pitching

In [ ]:
####wins losses hit runs strikeouts find mean

In [ ]:
##fielding