In [1]:
#### BATTING

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import os
path=os.path.join("projectdata/batting.csv")
print(path)

projectdata/batting.csv

In [2]:
#reading
data_b = pd.read_csv("projectdata/batting.csv")
data_b.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [3]:
#cleanning to get from 1980-1985
new_data = data_b[(1980 < data_b['yearID']) & (data_b['yearID'] < 1985)]
new_data

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
58329,aasedo01,1981,1,CAL,AL,39,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58330,abbotgl01,1981,1,SEA,AL,22,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58331,adamsgl01,1981,1,MIN,AL,72,220,13,46,10,...,24.0,0.0,1.0,20,26.0,4.0,0.0,0.0,2.0,10.0
58332,agostju01,1981,1,CHA,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58333,aguaylu01,1981,1,PHI,NL,45,84,11,18,4,...,7.0,1.0,0.0,6,15.0,0.0,2.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62250,yountro01,1984,1,ML4,AL,160,624,105,186,27,...,80.0,14.0,4.0,67,67.0,7.0,1.0,1.0,9.0,22.0
62251,zachrpa01,1984,1,LAN,NL,58,6,0,2,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0
62252,zahnge01,1984,1,CAL,AL,28,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
62253,zaskeje01,1984,1,PIT,NL,3,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
62254,zuvelpa01,1984,1,ATL,NL,11,25,2,5,1,...,1.0,0.0,0.0,2,3.0,0.0,0.0,0.0,0.0,0.0

In [4]:
#finding total number of teams 
total_teams=new_data['teamID'].nunique()
total_teams

26

In [5]:
#finding batting average
#find mean of hit, run, homerun and strikeouts by groupby
#mean_bat_df = new_data.loc[new_data['yearID']== " ", columns]
new_data[["playerID",
           "yearID",
           "teamID",
           "R",
           "H",
           "SO",
           "HR"]]

        playerID  yearID teamID    R    H    SO  HR
58329   aasedo01    1981    CAL    0    0   0.0   0
58330  abbotgl01    1981    SEA    0    0   0.0   0
58331  adamsgl01    1981    MIN   13   46  26.0   2
58332  agostju01    1981    CHA    0    0   0.0   0
58333  aguaylu01    1981    PHI   11   18  15.0   1
...          ...     ...    ...  ...  ...   ...  ..
62250  yountro01    1984    ML4  105  186  67.0  16
62251  zachrpa01    1984    LAN    0    2   1.0   0
62252   zahnge01    1984    CAL    0    0   0.0   0
62253  zaskeje01    1984    PIT    0    0   0.0   0
62254  zuvelpa01    1984    ATL    2    5   3.0   0

[3926 rows x 7 columns]

In [6]:
average_hit=new_data.groupby("teamID").H.mean()
#average_hit
average_run = new_data.groupby("teamID").R.mean()
#average_run
average_homerun = new_data.groupby("teamID").HR.mean()
average_strikeouts = new_data.groupby("teamID").SO.mean()

final_averages = pd.DataFrame({"Hit" : (average_hit) ,
                            "Run" :(average_run),
                            "Strikeouts" :(average_strikeouts)})
final_averages

              Hit        Run  Strikeouts
teamID
ATL     32.636943  16.000000   20.076433
BAL     36.809859  18.894366   20.661972
BOS     44.170543  21.751938   22.139535
CAL     35.280000  18.053333   20.626667
CHA     34.894737  18.032895   20.756579
CHN     32.232704  15.779874   20.849057
CIN     34.465278  15.687500   23.291667
CLE     35.765101  17.308725   16.845638
DET     37.210884  18.870748   20.945578
HOU     35.881944  15.965278   21.000000
KCA     37.547297  17.229730   18.452703
LAN     33.409091  15.422078   20.181818
MIN     34.748344  16.006623   19.344371
ML4     40.304348  20.210145   18.210145
MON     30.686391  14.260355   16.739645
NYA     32.341317  15.916168   15.041916
NYN     31.284810  13.822785   23.037975
OAK     30.841463  15.823171   20.353659
PHI     33.750000  16.480769   20.852564
PIT     34.367742  15.516129   19.806452
SDN     36.159722  16.638889   21.069444
SEA     32.012579  14.572327   19.308176
SFN     33.927632  16.243421   22.552632
SLN     34.701987  16.423841   20.549669
TEX     34.919463  15.684564   18.255034
TOR     38.731884  18.297101   21.239130

In [7]:
#replace nan values  with 0

In [8]:
new_data.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
58329,aasedo01,1981,1,CAL,AL,39,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58330,abbotgl01,1981,1,SEA,AL,22,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58331,adamsgl01,1981,1,MIN,AL,72,220,13,46,10,...,24.0,0.0,1.0,20,26.0,4.0,0.0,0.0,2.0,10.0
58332,agostju01,1981,1,CHA,AL,2,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
58333,aguaylu01,1981,1,PHI,NL,45,84,11,18,4,...,7.0,1.0,0.0,6,15.0,0.0,2.0,2.0,0.0,0.0

# Pitching

In [9]:
path=os.path.join("projectdata/pitching.csv")
print(path)
data_p = pd.read_csv("projectdata/pitching.csv")
data_p.head()

projectdata/pitching.csv

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN

In [10]:
#cleanning data
new_data_p = data_p[(1980 < data_p['yearID']) & (data_p['yearID'] < 1985)]
new_data_p

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
23378,aasedo01,1981,1,CAL,AL,4,4,39,0,0,...,2.0,2,0.0,0,265.0,32,17,1.0,1.0,5.0
23379,abbotgl01,1981,1,SEA,AL,4,9,22,20,1,...,1.0,1,0.0,0,530.0,1,64,6.0,4.0,13.0
23380,agostju01,1981,1,CHA,AL,0,0,2,0,0,...,0.0,0,1.0,0,22.0,1,3,0.0,0.0,1.0
23381,alexado01,1981,1,SFN,NL,11,7,24,24,1,...,2.0,4,2.0,1,646.0,0,51,5.0,2.0,8.0
23382,allarbr01,1981,1,SEA,AL,3,2,7,7,1,...,0.0,0,0.0,0,191.0,0,22,2.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24979,youngcu01,1984,1,OAK,AL,9,4,20,17,2,...,0.0,3,8.0,0,475.0,0,53,1.0,4.0,10.0
24980,youngma01,1984,1,SEA,AL,6,8,22,22,1,...,3.0,3,1.0,1,524.0,0,81,1.0,5.0,10.0
24981,zachrpa01,1984,1,LAN,NL,5,6,58,0,0,...,13.0,2,2.0,0,376.0,23,38,3.0,5.0,7.0
24982,zahnge01,1984,1,CAL,AL,13,10,28,27,9,...,4.0,3,1.0,0,821.0,1,78,6.0,6.0,27.0
24983,zaskeje01,1984,1,PIT,NL,0,0,3,0,0,...,0.0,0,0.0,0,20.0,2,0,0.0,0.0,0.0

In [11]:
new_data_p[["playerID",
           "yearID",
           "teamID",
           "R",
           "H",
           "SO",
           "L",
           "W"]]

        playerID  yearID teamID   R    H  SO   L   W
23378   aasedo01    1981    CAL  17   56  38   4   4
23379  abbotgl01    1981    SEA  64  127  35   9   4
23380  agostju01    1981    CHA   3    5   3   0   0
23381  alexado01    1981    SFN  51  156  77   7  11
23382  allarbr01    1981    SEA  22   48  20   2   3
...          ...     ...    ...  ..  ...  ..  ..  ..
24979  youngcu01    1984    OAK  53  118  41   4   9
24980  youngma01    1984    SEA  81  141  73   8   6
24981  zachrpa01    1984    LAN  38   84  55   6   5
24982   zahnge01    1984    CAL  78  200  61  10  13
24983  zaskeje01    1984    PIT   0    4   2   0   0

[1606 rows x 8 columns]

In [12]:
####wins losses hit runs strikeouts find mean
av_hit_p = new_data_p.groupby("teamID").H.mean()
av_run_p = new_data_p.groupby("teamID").R.mean()
av_strikeouts_p = new_data_p.groupby("teamID").SO.mean()
av_wins_p = new_data_p.groupby("teamID").W.mean()
av_losses_p = new_data_p.groupby("teamID").L.mean()

final_av_p = pd.DataFrame({"Hit" : (av_hit_p) ,
                            "Run" :(av_run_p),
                            "Strikeouts" :(av_strikeouts_p),
                            "Wins" : (av_wins_p),
                            "Losses" : (av_losses_p)})
final_av_p

               Hit        Run  Strikeouts      Wins    Losses
teamID
ATL      80.507692  37.123077   46.738462  4.723077  4.384615
BAL      96.351852  45.240741   49.925926  6.222222  4.722222
BOS     106.339623  51.566038   57.471698  5.886792  5.320755
CAL      82.925373  38.791045   38.447761  4.402985  4.492537
CHA      81.968254  39.984127   47.603175  4.984127  4.412698
CHN      82.530303  38.924242   45.181818  4.212121  4.696970
CIN      83.393443  41.934426   56.901639  4.442623  5.295082
CLE      85.562500  42.828125   47.625000  4.296875  4.906250
DET      80.114754  39.524590   49.262295  5.557377  4.196721
HOU      87.381818  40.490909   61.145455  5.509091  5.327273
KCA      90.050847  43.644068   40.186441  5.135593  4.847458
LAN      87.315789  38.192982   62.596491  5.631579  4.824561
MIN      90.049180  45.934426   45.459016  4.131148  5.622951
ML4      85.430769  40.276923   40.600000  4.784615  4.353846
MON      82.163934  36.737705   52.721311  5.016393  4.704918
NYA      79.272727  36.984848   51.954545  4.787879  4.196970
NYN      76.014706  36.926471   44.029412  3.882353  4.779412
OAK      74.041096  38.356164   35.835616  3.876712  4.273973
PHI      81.359375  38.296875   55.906250  4.984375  4.281250
PIT      78.600000  35.938462   53.553846  4.446154  4.600000
SDN      86.050847  40.677966   49.474576  5.000000  5.101695
SEA      90.366667  45.783333   56.033333  4.233333  5.683333
SFN      91.616667  43.416667   51.766667  4.800000  5.150000
SLN      80.430769  36.630769   39.907692  4.830769  4.215385
TEX      87.333333  41.016667   47.783333  4.450000  5.383333
TOR      96.351852  47.944444   54.388889  5.425926  5.537037

In [14]:
##fielding